/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  /* colors */
  --accent-color: rgb(254, 142, 5);
  --transparent-color: rgba(255, 255, 255, 0.05);
  --seat-color: rgba(255, 255, 255, 0.2);
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgba(255, 255, 255, 0.5);
  --tertiary-text-color: rgb(98, 20, 2);
  --primary-bg-color: rgb(98, 20, 2);
  --secondary-bg-color: rgba(36, 36, 36, 0.18);
  --tertiary-bg-color: rgba(255, 255, 255, 0.5);
  --quadruple-bg-color: rgba(255, 255, 255, 0.15);
  /* fonts */
  --primary-font-size: 16px;
  --secondary-font-size: 13px;
  --primary-line-height: 1.5;
  --secondary-line-height: 1.17;
  /* transition */
  --transition: background-color 300ms;
  --cursor: pointer;
  /* brekpoints */
  --desktop: 1200px;
  --tablet: 768px;
  --mobile: 480px;
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--primary-font-size);
  font-weight: 400;
  line-height: var(--primary-line-height);
  color: var(--primary-text-color);
}

@media screen and (max-width: 480px) {
  body {
    font-size: var(--secondary-font-size);
  }
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    /* padding: 0 15px; */
  }
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  /* min-height: 100vh; */
  background-image: linear-gradient(
      180deg,
      rgba(98, 20, 2, 0.31) 0%,
      #621402 85.62%
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 15px 15px;
  }
}
.logo {
  display: block;
  margin-right: 57px;
}

.logo-img {
  display: block;
}
.menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: var(--secondary-line-height);
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__item:not(:last-child) {
  margin-right: 25px;
}

.menu__link {
  display: flex;
  align-items: center;
  height: 33px;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: var(--transition);
  cursor: var(--cursor);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.user__avatar {
  margin-left: 11px;
}

.avatar-img {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.hero {
  display: flex;
  margin-top: 60px;
  margin-bottom: 59px;
}

@media screen and (max-width: 480px) {
  .hero {
    margin-top: 30px;
    margin-bottom: 29px;
  }
}

.film-info__original-title {
  color: var(--secondary-text-color);
  font-size: 24px;
  margin-bottom: 11px;
}

.film-info__title {
  font-size: 36px;
  line-height: var(--secondary-line-height);
  margin: 0;
  margin-bottom: 23px;
}

.film-descr {
  max-width: 570px;
  margin: 0;
  margin-bottom: 47px;
}

@media screen and (max-width: 480px) {
  .film-descr {
    margin-bottom: 27px;
  }
}

.film-trailer {
  margin: auto;
}

@media screen and (max-width: 808px) {
  .hero {
    flex-wrap: wrap;
  }
  .hero__film-info {
    margin-bottom: 40px;
  }
}

.film-info__details,
.film-time,
.film-rating {
  display: flex;
  align-items: center;
}
.film-time {
  margin-right: 34px;
}

.film-time__icon,
.rating__icon {
  display: block;
}

.film-time__icon {
  margin-right: 14px;
}

.rating__icon {
  margin-right: 22px;
}

.rating__current {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .rating__current {
    font-size: 18px;
  }
}

.session {
  display: flex;
  align-items: flex-start;
  padding-top: 46px;
  padding-bottom: 64px;
  border-top: 1px solid var(--tertiary-bg-color);
  border-bottom: 1px solid var(--tertiary-bg-color);
}

.session__date {
  margin-right: 95px;
}

.session__label {
  line-height: var(--secondary-line-height);
  margin-bottom: 20px;
}

.session__date-list {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .session__date-list {
    flex-wrap: wrap;
  }
}

.session__date-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;

  border: 1px solid var(--tertiary-bg-color);
  border-radius: 5px;
  text-transform: uppercase;
  line-height: var(--secondary-line-height);
  transition: background-color 300ms;
  cursor: var(--cursor);
}

.session__date-item:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 480px) {
  .session__date-item:not(:nth-child(-n + 2)) {
    margin-top: 15px;
  }
}

.session__month {
  font-size: 16px;
}

.session__day {
  font-size: 30px;
  font-weight: 900;
}

.session__day-week {
  font-size: 19px;
  text-transform: lowercase;
}

.session__date-item:hover,
.session__date-item:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}

.session__options {
  display: flex;
}

.session__cinema {
  margin-right: 30px;
}
.cinemas,
.time-check {
  display: block;
  min-width: 150px;
  max-width: 470px;
  height: 60px;
  margin-top: 20px;
  padding-left: 20px;
  border: 1px solid var(--tertiary-bg-color);
  border-radius: 5px;
  background-color: var(--quadruple-bg-color);
  color: var(--primary-text-color);
  cursor: var(--cursor);
}

.option {
  background-color: var(--tertiary-bg-color);
  border: 1px solid var(--tertiary-bg-color);
  border-radius: 5px;
  color: var(--tertiary-text-color);
  cursor: var(--cursor);
}

@media screen and (max-width: 808px) {
  .session {
    flex-wrap: wrap;
  }
  .session__options {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .session__date {
    margin-right: 30px;
  }

  .cinemas,
  .time-check {
    min-width: 200px;
    max-width: 470px;
    font-size: 14px;
    padding-left: 5px;
  }

  .time-check {
    min-width: 70px;
    max-width: 180px;
  }
}

@media screen and (max-width: 480px) {
  .session {
    flex-direction: column;
  }

  .session__options {
    flex-direction: column;
  }

  .cinemas {
    margin-bottom: 20px;
  }
}

.scheme {
  padding-top: 63px;
  border-radius: 10px;
}

.scheme-svg {
  max-width: 1170px;
}

.scheme-svg path:not(.light) {
  fill: var(--seat-color);
  cursor: pointer;
  transition: fill 0.2s;
}

.scheme-svg path:not(.light):hover {
  fill: var(--tertiary-bg-color);
}

.scheme__container {
  background-color: var(--secondary-bg-color);
}
.underline {
  margin-left: auto;
  margin-right: auto;
}

.legend {
  width: auto;
  padding-top: 22px;
  padding-bottom: 35px;
  display: flex;
  border-top: 1px solid var(--seat-color);
}

.legend.container {
  width: 88%;
}

.legend-label {
  display: flex;
  align-items: center;
}
.legend-label:not(:last-child) {
  margin-right: 30px;
}
.legend-free-text,
.legend-booked-text,
.legend-active-text {
  margin-left: 16px;
  color: var(--seat-color);
}

.legend-active-text {
  color: var(--accent-color);
}

.legend-free {
  fill: var(--seat-color);
}

.active,
.legend-active {
  fill: var(--accent-color) !important;
}

@media screen and (max-width: 808px) {
  .legend-free-text,
  .legend-booked-text,
  .legend-active-text {
    font-size: 12px;
  }

  .legend-label svg {
    width: 16px;
    height: 14px;
  }
}

.booked,
.booked:hover {
  fill: var(--transparent-color) !important;
  cursor: not-allowed !important;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 62px;
  padding-bottom: 158px;
  line-height: var(--secondary-line-height);
}
.price-tag {
  display: flex;
  flex-direction: column;
}
.price-label {
  margin-bottom: 12px;
}
.counter,
.currency {
  font-size: 52px;
}
.currency {
  display: inline-block;
  margin-left: 10px;
}
.button {
  padding: 24px 52px;
  font-weight: 700;
  line-height: var(--secondary-line-height);
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  text-decoration: none;
}
